.main {
  padding-bottom: 230px;
}
.pai-data-box {
  background: #060A14;
}

.pai-data-box .content-box {
  min-height: calc(100vh - 280px);
  color: #fff;
  padding: 30px 0;
  padding-bottom: 0;
}

.pai-data-box .content-box .data-module {
  width:1200px;
  margin: auto;
  text-align: center;
}
.echarts-name{
  font-size: 21px;
}

.pai-data-box .content-box .data-module .tip1 {
    display: inline-block;
    font-size: 16px;
    width: 48px;
    color: #0A77C3;
    line-height: 1.3;
    left: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pai-data-box .content-box .data-module .total-box .total {
    margin: 10px;
    display: inline-block;
    padding: 5px;
    border: 1px solid #2B2C33;
    border-radius: 8px;
    padding-left: 52px;
    position: relative;
    min-height: 48px;
}
#dataNums {
  min-width: 50px;
}

/* .pai-data-box .content-box .data-module .total-box .total-num {
  display: inline-block;
  margin-left:8px;
}

.pai-data-box .content-box .data-module .total-box .total-num span {
    font-size: 29px;
    margin: 0 4.8px;
    display: inline-block;
    color: #FFCA6A;
    padding: 1px 8px;
    background: url(./image/total-num.png) no-repeat;
    background-size: 100% 100%;
} */

.pai-data-box .content-box .wrapper {
  width: 100%;
}

.pai-data-box .content-box .wrapper .top10 {
  width: 42%;
  margin-top: 40px;
}

.pai-data-box .content-box .wrapper .top10 .title {
  margin: 14px;
}

.pai-data-box .content-box .wrapper .top10 .title span {
  background: url(./image/t.png) no-repeat;
  display: inline-block;
  width: 20px;
  height: 17px;
  margin-right: 4px;
  vertical-align: middle;
  background-size: contain;
}
.chart-tooltip{
  position: relative;
  z-index: 15;
  width: 58px;
  text-align: center;
  background: #0B0F19;
  line-height: 1.3;
  transform: translateX(-50%)
}
.pai-data-box .content-box .wrapper .top10 .table-tr .num-text {
  color: #0A77C3;
}

.pai-data-box .content-box .wrapper .top10 .num-proportion {
  display: inline-block;
  width: 100px;
  height: 4.8px;
  margin-right: 5px;
  position: relative;
  background: #2C2E42;
  border-radius:8px;
  overflow: hidden;
}

.pai-data-box .content-box .wrapper .top10 .num-proportion span {
  border-radius:8px;
  display: inline-block;
  height: 4.8px;
  position: absolute;
  left: 0;
  top: 0;
  background: #3BD6B8;
}

.pai-data-box .content-box .wrapper .top10 .table-tr{
  padding: 2px 0;
}
.pai-data-box .content-box .wrapper .top10 .table-th{
  padding: 5px 0;
  background: #0E1127;
}
.pai-data-box .content-box .wrapper .top10 .table-th span {
  color: #0A77C3;
  background: inherit;
  font-size: 13px;
  border-bottom: #122142;
  display: inline-block;
}

.pai-data-box .content-box .wrapper-body{
  line-height: 1.8;
}

.table-th .th1,.table-tr .tr1{
  width: 10%;
}

.table-th .th2,.table-tr .tr2{
  width: 40%;
}
.table-th .th3,.table-tr .tr3{
  width: 48%;
}


.pai-data-box .content-box .wrapper .top10 .table-tr span {
  border-bottom: none;
  color: #fff;
  font-size: 12px;
  display: inline-block;
}


.num-proportion span{
  transform: translateX(-100%);
}
.num-proportion .num-proportion-span{
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease; /* Firefox 4 */
  -o-transition: all 1s ease;
  transform: translateX(0);
}

.pai-data-box .content-box .wrapper .top10 .wrapper-body {
  border: 1px solid #122142;
  border-radius: 4px 4px 0 0;
}



.pai-data-box .content-box .wrapper .chart1 {
  width: 50%;
  height: 500px;
}

.pai-data-box .content-box .wrapper .chart3,
.pai-data-box .content-box .wrapper .chart4 {
  width: 62%;
  height: 452px;
}

.pai-data-box .content-box .wrapper .chart3 {
  width: 100%;
}

.pai-data-box .content-box .wrapper .chart2-1,
.pai-data-box .content-box .wrapper .chart2-2,
.pai-data-box .content-box .wrapper .chart2-3,
.pai-data-box .content-box .wrapper .chart2-4 {
  width: 23%;
  background: #0B0F19;
  margin: 1%;
  padding: 10px;
  position: relative;
}

.pai-data-box .content-box .wrapper #chart2-1,
.pai-data-box .content-box .wrapper #chart2-2,
.pai-data-box .content-box .wrapper #chart2-3,
.pai-data-box .content-box .wrapper #chart2-4 {
  width: 100%;
  height: 250px;
}

.title-text{
    background: #171B25;
    font-size: 15px;
    position: absolute;
    top: 0;
    padding: 4px 0;
    border-radius: 0 0 12px 12px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.title-subtext {
  position: relative;
  top: 26px;
  font-size: 13px;
}

.pai-data-box .content-box .wrapper1 {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.pai-data-box .content-box .data-module3 {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 30px;
}

.pai-data-box .content-box .data-module3 .wrapper{
  padding-top: 25px;
}

.pai-data-box .content-box .data-module3 .wrapper {
  width:1060px;
  margin: auto;
}

.court-total{
  font-size: 13px;
  color: #3BD6B8;
  margin-top: 5px;
}

.pai-data-box .content-box .data-module4 {
  width: 100%;
  padding: 30px 0;
}

.pai-data-box .content-box .data-module4 .wrapper {
  width:1200px;
  margin: auto;
}

.pai-data-box .content-box .data-module4 .duty-statistics {
  width: 13%;
  margin: 0 5%;
  padding-top: 54px;
  text-align: left;
}

.pai-data-box .content-box .data-module4 .duty-statistics .module {
  padding: 6px 14px;
  border-radius: 10px;
  margin-bottom: 9.6px;
  position: relative;
  background: #1F232C;
  opacity: 0;
}

.pai-data-box .content-box .data-module4 .duty-statistics .module1 {
  padding: 6px 0;
}

.pai-data-box .content-box .data-module4 .duty-statistics .module div {
  padding: 0 15px;
  font-size: 13px;
}

.pai-data-box .content-box .data-module4 .duty-statistics .module .module-b {
  position: absolute;
  left: 10px;
  width: 5px;
  height: 34px;
  top: 50%;
  transform: translateY(-50%);
}

.pai-data-box .content-box .data-module4 .duty-statistics .module .module-b-y {
  background: #3BD6B8;
}

.pai-data-box .content-box .data-module4 .duty-statistics .module .module-b-b {
  background: #EECB6C;
}

.pai-data-box .content-box .data-module4 .duty-statistics .module .module-b-r {
  background: #E8928D;
}

.chart-legend-icon{
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #5E5F63;
}

.chart-legend{
  position: relative;
  cursor: pointer;
  color: #5E5F63;
}
.chart-legend .dotted-line{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.chart-legend .dotted-line span{
  height: 5px;
  width: 2px;
  display: inline-block;
  background: #1F2129;
  margin: 2px;
}
.chart-legend-text{
  margin-left: 5px;
}

.chart-legend1:hover{
  color: #3BD6B8
}
.chart-legend2:hover{
  color: #EECB6C
}
.chart-legend3:hover{
  color: #E8928D
}
.chart-legend1:hover .chart-legend-icon1{
  background: #3BD6B8;
}
.chart-legend2:hover .chart-legend-icon2{
  background: #EECB6C;
}
.chart-legend3:hover .chart-legend-icon3{
  background: #E8928D;
}
.chart-legend-box{
  margin-bottom: 10px;
}



